@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/******* For reset  ********/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	pointer-events: none;
}

/***************************/

/******Actual Styling*******/
body {
	width: 100%;
	min-height: 100vh;
	font-family: 'Roboto', sans-serif;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	gap: 20px;
	justify-content: space-between;
}

.wrapper-register {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	gap: 20px;
	padding: 50px;
	border-radius: 10px;
	background-color: #3882f6;
	color: #e5e7eb;
}

header {
	background-color: #1f2937;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
}

header h2 {
	font-size: 24px;
	color: #f9faf8;
}

header ul {
	display: flex;
	gap: 20px;
}

header ul li a {
	font-family: 18px;
	color: #e5e7eb;
}

main {
	background-color: #1f2937;
	padding: 100px 0;
}

main div {
	color: #f9faf8;
}

main div h1 {
	font-size: 48px;
	font-weight: 900;
}

main div p {
	font-size: 18px;
	color: #e5e7eb;
}

.main-left > * {
	margin-bottom: 10px;
}

.main-left button,
.register-right button {
	background-color: #3882f6;
	color: #f9faf8;
	padding: 8px 16px;
	border: none;
	border-radius: 5px;
}

.register-right button {
    border: 1px solid #f9faf8;
}

.main-right {
	border: 1px solid white;
	width: 700px;
	height: 200px;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.info {
	max-width: 1200px;
	height: 30vh;
	margin: 100px auto;
	text-align: center;
}

.info h1 {
	font-size: 36px;
	font-weight: 900;
	color: #1f2937;
}

.cards {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.card {
	width: 200px;
	height: 200px;
	margin: 50px 0;
}

.card img {
	border-radius: 20px;
	object-position: center center;
}

.testimonial {
	width: 100%;
	height: 30vh;
	background-color: #e5e7eb;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.testimonial-text {
	font-size: 36px;
	font-weight: 100;
	font-style: italic;
	color: #1f2937;
	max-width: 800px;
}

.testimonial-author {
	max-width: 800px;
	width: 100%;
	text-align: end;
	margin-right: 50px;
}

.register {
	width: 100%;
	height: 30vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.register-left h1 {
    margin-bottom: 5px;
}

footer {
    background-color: #1f2937;
    color: #e5e7eb;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}